.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width:100%;
  grid-gap: 10px;
}

.item {
  height: 500px;
}

.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
